* {
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 40px repeat(5, 1fr);
    grid-template-areas:
        "jumbo jumbo jumbo jumbo jumbo jumbo"
        ". coffee coffee form form form"
        ". coffee coffee form form form"
        ". coffee coffee form form form";

}

.jumbotron{
    grid-area: jumbo;
    background-image: url("img/coffee.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30%;
    background-position: center;
    /*max-width: 100%;*/
    /*max-height: auto;*/
}
.coffee-container{
    grid-area: coffee;
    /*background-image: url("img/coffeecup.jpg");*/
    background-repeat: no-repeat;
    overflow: visible;
    height: 612px;
    margin-right: 10px;

}
.container{
    display: flex;
    flex-direction: row-reverse;
}
.container h1 {
    color: beige;

}

.form {
    grid-area: form;
}

.table {

    display: flex;
    flex-flow: row wrap;
}
.genDiv{
    width: 270px;
}




